<h2>Por País</h2>
<hr>


<div class="row">
    <div class="col">
        <app-pais-input
            (onEnter)="buscar($event)"
            (onDebounce)="sugerencias($event)"
            placeholder="Por Pais.."
        >
        </app-pais-input>
    </div>
</div>
    <ul class="list-group" *ngFor="let pais of paisesSugeridos">
        <li class="list-group-item">
            <a class="nav-link" [routerLink]="['/pais',pais.cca2]">
                {{pais.name.official}}
            </a>
        </li>
        <li class="list-group-item">
            <a class="nav-link" [routerLink]="['/pais',pais.cca2]">
                Buscar {{termino}}
            </a>
        </li>
    </ul>
<hr>

<div *ngIf="hayError" class="alert alert-danger">
    No se encontro nada con el termino {{termino}}
</div>

<div class="row" *ngIf="paises.length>0">
    <div class="col">
        <app-pais-tabla
            [paises]="paises"
        ></app-pais-tabla>
    </div>
</div>